.catalog {
  .mixin;
  background-color:@special-grey_main;

  @media (max-width: @tablet-width) {
    padding-top: 10px;
  }
}

.catalog__content {
  display: flex;
}

.catalog__title {
  margin-bottom: 8px;
}
